<footer>
  <small>
   <p>Find me on <a href="https://github.com/lhwitherspoon">Github</a>.
     <a href="mailto: {{ pkg.author.email}}">Email me</a>.  Or find me on 
     <a href="https://linkedin.com/in/lhwitherspoon">LinkedIn</a>.</p>
  </small>
</footer>
