<footer>

  
   <a href="https://github.com/lhwitherspoon"><img src="_includes/assets/images/github.svg" height="32" width="32" alt="Github icon"></a><a href="mailto: {{ pkg.author.email}}"><img src="_includes/assets/images/send-32.svg" alt="Email icon"></a><a href="https://linkedin.com/in/lhwitherspoon"><img src="_includes/assets/images/linkedin.svg" alt="LinkedIn icon"></a>
  
</footer>
