<footer>
<section>
<p><a href="https://github.com/lhwitherspoon"><img src="/_includes/assets/images/github.svg" height="32" width="32" alt="Github icon"></a><a href="mailto: {{ pkg.author.email}}"><img src="/_includes/assets/images/send-32.svg" alt="Email icon"></a><a href="https://linkedin.com/in/lhwitherspoon"><img src="/_includes/assets/images/linkedin.svg" alt="LinkedIn icon"></a></p>
</section>
<section>
   

  <p style="text-align: center"><small>Icons courtesy of <a href="https://feathericons.com">Feather Icons</a> | Template based on <a href="https://github.com/danurbanowicz/eleventy-netlify-boilerplate">Eleventy Netlify Boilerplate</a> | Styling by <a href="https://andybrewer.github.io/mvp/">MVP.css</a></small></p>
  
  </section>
</footer>
