<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
  <!--<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>-->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/mvp.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  <!-- AddToAny BEGIN -->

<!-- AddToAny END -->
  
  <meta name="twitter:card" content="summary_large_image"></meta>
<meta name="twitter:site" content="@lhwitherspoon"></meta>
<meta name="twitter:description" content="insert text that you want to put here for the tweet."></meta>
<meta name="twitter:title" content="I'm a title"></meta>
<meta name="twitter:image" content="https://github.com/lhwitherspoon/eleventy-netlify-boilerplate/blob/master/_includes/assets/images/xps-uWFFw7leQNI-unsplash.jpg"></meta>



<!-- I do not find any codes that let you specify width and height for Twitter images in cards. This image is 1000X833px. Twitter prefers a 2:1 ratio but the size is fine for them. --> 
