<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
  <!--<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>-->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/mvp.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="lhwitherspoon.com/about/index.html" data-a2a-title="About us">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_email"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
  
  <meta name="twitter:card" content="summary_large_image"></meta>
<meta name="twitter:site" content="@lhwitherspoon"></meta>
<meta name="twitter:description" content="%%insert text that you want to put here for the tweet%%"></meta>
<meta name="twitter:title" content="I'm a title">



<!-- I do not find any codes that let you specify width and height for Twitter images in cards. This image is 1000X833px. Twitter prefers a 2:1 ratio but the size is fine for them. --> 
<meta name="twitter:image" content="https://immunize.org/images/homepage/visionaries-home-page.jpg"></meta>
</head>
