---
layout: layouts/base.njk
section: author
---
<header>
  <h1>{{ name }}</h1>
</header>
<article>
  
  <section>
    <p><a href="mailto:{{ email }}">{{ email }}</a></p>
  </section>
  <section>
    <p><a href="{{ github }}">View on GitHub</a></p>
  </section>
</article>



    <nav>
      <p>
        <a href="{{ '/blog/' | url }}">← Blog index</a>
      </p>
    </nav>
  

