<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<h1>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</h1>

			{# {% include "components/nav.njk" %} #}
		</header>
		<div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="lhwitherspoon.com/about/index.html" data-a2a-title="About us">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_email"></a>
</div>

<script>
var a2a_config = a2a_config || {};
a2a_config.templates = a2a_config.templates || {};

a2a_config.templates.email = {
    subject: "Check this out: ${title}",
    body: "Click the link:\n${link}"
};

a2a_config.templates.twitter = {
    text: "Check out my page - TEST: ${title} ${link}",
    related: "AddToAny,Twitter"
};
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
		
		<main>
			
			
			{{ layoutContent | safe }}
		
			
		</main>

		<section>
		{% include "components/footer.njk" %}
		</section>
		<script>
		  if (window.netlifyIdentity) {
		    window.netlifyIdentity.on("init", user => {
		      if (!user) {
			window.netlifyIdentity.on("login", () => {
			  document.location.href = "/admin/";
			});
		      }
		    });
		  }
		</script>
	</body>

</html>
