<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<h1>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</h1>

			{# {% include "components/nav.njk" %} #}
		</header>
		<div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="lhwitherspoon.com/about/index.html" data-a2a-title="About us">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_email"></a>
</div>

<script>
var a2a_config = a2a_config || {};
a2a_config.templates = a2a_config.templates || {};

a2a_config.templates.email = {
    subject: "Check this out: ${title}",
    body: "Click the link:\n${link}"
};

a2a_config.templates.twitter = {
    text: "Check out my page - TEST: ${title} ${link}",
    related: "AddToAny,Twitter"
};
</script>
<!-- Excludes unneeded services from share menu. Keep Facebook, Twitter, Instagram, LinkedIn, YouTube, email, print, Gmail, Pocket, Mendeley, WhatsApp, Facebook Messenger, SMS, SKype -->
<!--It appears this is placed in the HTML after the share button and before <script async="" src="https://static.addtoany.com/menu/page.js"></script> -->
	 
<!-- Excludes unneeded services from share menu. Keep Facebook, Twitter, Instagram, LinkedIn, YouTube, email, print, Gmail, Pocket, Mendeley, WhatsApp, Facebook Messenger, SMS, SKype -->
<!--It appears this is placed in the HTML after the share button and before <script async="" src="https://static.addtoany.com/menu/page.js"></script> -->
	 
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.exclude_services = [
	"amazon_wish_list",
	"aol_mail",
	"balatarin",
	"bibsonomy",
	"bitty_brower",
	"blogger",
	"blogmarks",
	"bookmarks_fr",
	"box_net",
	"buffer",
	"care2_news",
	"citeulike",
	"copy_link",
	"design_float",
	"diary_ru",
	"diaspora",
	"digg",
	"diigo",
	"douban",
	"draugiem",
	"dzone",
	"fark",
	"flipboard",
	"folkd",
	"google_bookmarks",
	"google_classroom",
	"hacker_news",
	"hatena",
	"houzz",
	"instapaper",
	"kakao",
	"kik",
	"known",
	"line",
	"livejournal",
	"mail_ru",
	"mastodon",
	"meneame",
	"mewe",
	"mix",
	"mixi",
	"myspace",
	"netvouz",
	"odnoklassniki",
	"outlook_com",
	"papaly",
	"pinboard",
	"pinterest",
	"plurk",
	"printfriendly",
	"protopage_bookmarks",
	"pusha",
	"push_to_kindle",
	"qzone",
	"reddit",
	"rediff_mypage",
	"refind",
	"renren",
	"slashdot",
	"sina_weibo",
	"sitejot",
	"stocktwits",
	"svejo",
	"symbaloo_bookmarks",
	"telegram",
	"threema",
	"trello",
	"tuenti",
	"tumblr",
	"twiddla",
	"typepad_post",
	"viadeo",
	"viber",
	"vk",
	"wanelo",
	"wykop",
	"wordpress",
	"xing",
	"yahoo_mail",
	"yoolink",
	"yummly"	
	];
</script>




<script async src="https://static.addtoany.com/menu/page.js"></script>
		
		<main>
			
			
			{{ layoutContent | safe }}
		
			
		</main>

		<section>
		{% include "components/footer.njk" %}
		</section>
		<script>
		  if (window.netlifyIdentity) {
		    window.netlifyIdentity.on("init", user => {
		      if (!user) {
			window.netlifyIdentity.on("login", () => {
			  document.location.href = "/admin/";
			});
		      }
		    });
		  }
		</script>
	</body>

</html>
