---
layout: layouts/base.njk
section: home
---

<section>
  <section>
    <aside>
     <img src="_includes/assets/images/LHW-P7-squashed.jpeg" alt="photo of Les Witherspoon">
    </aside>
  </section>
  <section>
  {{ layoutContent | safe }}
  <section>
</section>

