---
layout: layouts/base.njk
section: home
---

<section>
  <section>
    <aside>
     <img src="_includes/assets/images/lhw-pic-06-2020-squashed.jpg" alt="photo of Les Witherspoon">
    </aside>
  </section>
  <section>
  {{ layoutContent | safe }}
  <section>
</section>

